:root {
  --primary-dark: #e36b30;
  --primary: #f0883e;
  --primary-light: #fca54e;

  --grey-dark: #170800;
  --grey: #241002;
  --grey-light: #301b06;

  --white-dark: #e3c6b8;
  --white: #f0dcce;
  --white-light: #fcf1e6;
}
